@use '../abstracts/functions' as fns;
@use '../abstracts/mixins' as mi;

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    @include mi.apply-font('primary');
    background-color: fns.bg-color('white');
    font-size: 16px;
}

a {
    display: block;
    color: fns.main-color('secondary');
}
