@use '/src/assets/styles/abstracts/functions' as fn;

.card {
    position: relative;
    background-color: fn.bg-color('white');
    border: 1px solid fn.main-color('primary');
    padding: 0.8rem;
    border-radius: 5px;

    &__remove {
        position: absolute;
        top: -17px;
        right: -17px;

        padding: 0;
        scale: 0.8;
    }

    .header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 1rem;

        p {
            font-size: 16px;
            font-weight: 600;
        }

        small {
            font-size: 12px;
        }
    }

    &__location {
        font-size: 14px;
        margin-top: 0.2rem;
    }

    &__description {
        margin-top: 1rem;
        font-size: 12px;
    }
}
