@use '/src/assets/styles/abstracts/functions' as fn;

.container {
    position: relative;

    & > textarea {
        padding-bottom: 2rem;
    }

    .words {
        position: absolute;
        bottom: 5px;
        right: 4%;
        font-weight: 600;

        &__count {
            font-weight: 400;

            &.done {
                color: fn.main-color('danger');
                font-weight: 600;
            }
        }

        &.done {
            font-weight: 600;
        }
    }
}
