@use '/src/assets/styles/abstracts/functions' as fn;

.container {
    width: min(100%, 450px);
    margin-inline: auto;
}

.header {
    display: flex;
    justify-content: center;

    .logo {
        display: flex;
        align-items: center;
        gap: 0.5rem;

        figcaption {
            color: fn.main-color('secondary');
            font-weight: 600;
            font-size: 16px;
        }
    }
}

.content {
    margin-top: 1rem;

    border: 1px solid fn.main-color('primary');
    border-radius: 10px;
    padding: 3rem 4rem;
}
