@use '/src/assets/styles/abstracts/mixins' as mi;
@use '/src/assets/styles/abstracts/functions' as fn;

.container {
    @include mi.apply-wrapper('medium');
    margin-top: 3rem;

    .headline {
        font-size: 18px;
        font-weight: 600;
        color: fn.main-color('primary');

        margin-bottom: 1.5rem;
    }

    .separator {
        margin-block: 3rem;
        display: block;

        color: rgba(fn.main-color('primary'), 0.2);
        box-shadow: 0 1px 4px rgba(fn.main-color('primary'), 0.2);
    }
}

.header {
    display: grid;
    grid-template-columns: 0.8fr 1fr;
    gap: 1rem;

    .data {
        display: grid;
        gap: 0.8rem;

        .group {
            display: flex;
            align-items: center;
            gap: 2rem;

            a {
                font-size: 18px;
                font-weight: 600;

                display: flex;
                align-items: center;
                gap: 0.5rem;
            }

            .salary {
                background-color: rgba(fn.main-color('primary'), 0.4);
                border-radius: 5px;
                padding: 0.2rem 1rem;
            }
        }

        span {
            display: flex;
            align-items: center;
            gap: 0.5rem;
        }

        button {
            width: fit-content;
        }
    }
}
