$breakpoints: (
    'sm': 576px,
    'md': 768px,
    'lg': 992px,
    'xl': 1200px,
);

$wrappers-width: (
    'content': 1200px,
    'medium': 1000px,
    'small': 500px,
);

$colors-palette: (
    'main': (
        'primary': #4b75c5,
        'secondary': #53399d,
        'danger': #e34343,
    ),
    'bg': (
        'white': #fff,
        'white-darkened': #f2f2f2,
    ),
    'text': (
        'black': #222,
        'white': #f2f2f2,
        'muted': #a6a6a6,
    ),
);

$fonts: (
    'primary': 'Inter',
    'secondary': 'Raleway',
);
